
body {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 5rem;
}
div {
	padding: 1rem;
}

span {
	padding-right: 2rem;
}
.todo {
	display: flex;
	justify-content: flex-end;
	border: 1px solid rgba(0, 0, 0, 0.18);
}
