* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
html {
    font-size: 16px;
    overflow-y: scroll;
    font-family: sans-serif;
}
body {
    margin: 0;
    color: #757575;
    background-color: #e9ebee;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'pnum';
    font-variant-numeric: proportional-nums;
}
.bound {
    left: 16%;
    width: 84%;
    height: auto;
    min-height: 100%;
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /*color: @headerColor;*/
}
h2 {
    font-weight: 500;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    background: linear-gradient(45deg, #f4b8b9, #b8d0ff);
}
p {
    font-size: 0.85rem;
}
label {
    min-width: 100%;
    margin-bottom: 1rem;
}
input {
    margin-top: 0.5rem;
}

button[disabled] {
    background-color: #00000026;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 480px) {
    html {
        font-size: 12px !important;
    }
    .bound {
        left: 0;
        width: 100%;
    }
}
