.wrapper {
    width: 60vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: flex-start;
}